.ds-barchart {
  height: 500px;
  background: rgb(252,252,252);
  background: linear-gradient(59deg, rgba(252,252,252,1) 0%, rgba(255,254,254,1) 100%);
  font-family: "IBM Plex Sans", sans-serif;
  transition: width ease-in-out 0.25s;
}

.ds-settings {
  font-family: "IBM Plex Sans", sans-serif;
}

.ds-settings h2 {
  color: purple;
  font-size: 1.1rem;
  font-weight: 900;
}