.ds-barchart {
  height: 500px;
  font-family: "IBM Plex Sans", sans-serif;
  transition: width 0.5s;
}

.ds-settings {
  font-family: "IBM Plex Sans", sans-serif;
}

.ds-settings h2 {
  color: purple;
  font-size: 1.1rem;
  font-weight: 900;
}