.ds-sidebar {
  background: rgb(252,252,252);
  background: linear-gradient(59deg, rgba(252,252,252,1) 0%, rgba(255,254,254,1) 100%);
}

.ds-toc {
  font-family: "IBM Plex Serif";
}

.ds-toc h4 {
  font-weight: 900;
}